<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:9999/ProductService" binding="basicHttpBinding"
                bindingConfiguration="" contract="ProductInterfaces.IWCFProductService"
                name="ProductServiceEndpoint" kind="" endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>